/* main */

@import "normalize.css";
@import "style.css";


/* components */
@import "components/head.css";
@import "components/header.css";
@import "components/nav.css";
@import "components/swiper.css";
@import "components/beton.css";
@import "components/avtobetononasos.css";
@import "components/about.css";
@import "components/book.css";
@import "components/test.css";
@import "components/footer.css";

:root {
    --blue: #377ccd;
    --black: black;
    --white: white;
    --redlight: #F64C72;
    --grey:#707070;
    --red: red;
    --orange: #FFA200;
}
