.avtobetononasos__title {

  font-weight: 800;
  font-size: 48px;
  margin-bottom: 30px;
}

.avtobetononasos__title__color {
  color: rgb(253, 110, 74);
  text-transform: uppercase;
}

.avtobetononasos__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

body {
  background-size: cover;
  background-position:top;
  background-attachment:fixed;
  background-repeat: no-repeat;
}

.avtobetononasos__items {
  outline: none;
}

.avtobetononasos__card{
  display:flex;
  flex-direction:column;
  width:400px;
  margin-bottom:60px;
}
.avtobetononasos__card>div{
  box-shadow:0 15px 20px 0 rgba(0,0,0,0.5);
}
.avtobetononasos__card-image{
  width:400px;
  height:250px;
  border-radius: 10px;
}
.avtobetononasos__card-image>img{
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:bottom;
  border-radius: 10px;
}
.avtobetononasos__card-text{
  margin:-30px auto;
  margin-bottom:-50px;
  height:300px;
  width:300px;
  background-color: rgb(129, 129, 129, 1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color:#fff;
  padding:20px;
  border-radius: 10px;
}
.avtobetononasos__card-meal-type{
  font-style:italic;
}
.avtobetononasos__card-title{
  font-size:22px;
  margin-bottom:20px;
  margin-top:5px;
}
.avtobetononasos__card-body{
  font-size:18px;
}
.avtobetononasos__card-price{
  width:130px;
  height:60px;
  color:var(--black);
  outline: none;
  margin-left:auto;
  font-size:22px;
  font-weight: 700;
  display:flex;
  justify-content:center;
  align-items:center;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, outline 0.3s ease-in-out;
  border: none;
}

.avtobetononasos__card button {
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 22px;
  border: none;
  background-color:rgba(248, 167, 146, 1);
  color: #fff;
  transition: all 0.3s ease-in-out;
}

  .avtobetononasos__card-price:focus {



  }
  .avtobetononasos__card-price:hover {
      background-color: rgb(253, 110, 74);
      color: black;
      transform: scale(1.1);
    }


  .avtobetononasos__card-title {
    color: rgb(253, 110, 74);
  }
  .card-red {
    color: red;
    text-decoration: underline;
  }

  .card-black {
    color: black;
    text-decoration: underline;
  }

