.avtobetononasos__title {
  width: fit-content;
  margin-bottom: 30px;
  margin-left: 20px;
  font-size: 48px;
  font-weight: 800;
  background-color: var(--orange);
}

.avtobetononasos__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

body{ background:url(/img/5.gif);
  background-size: cover;
  background-position:top;
  background-attachment:fixed;
  background-repeat: no-repeat;
}

.avtobetononasos__items {
  outline: none;
}

.avtobetononasos__card{
  display:flex;
  flex-direction:column;
  width:400px;
  margin-bottom:60px;
}
.avtobetononasos__card>div{
  box-shadow:0 15px 20px 0 rgba(0,0,0,0.5);
}
.avtobetononasos__card-image{
  width:400px;
  height:250px;
}
.avtobetononasos__card-image>img{
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:bottom;
}
.avtobetononasos__card-text{
  margin:-30px auto;
  margin-bottom:-50px;
  height:300px;
  width:300px;
  background-color:#1D1C20;
  color:#fff;
  padding:20px;
}
.avtobetononasos__card-meal-type{
  font-style:italic;
}
.avtobetononasos__card-title{
  font-size:22px;
  margin-bottom:20px;
  margin-top:5px;
}
.avtobetononasos__card-body{
  font-size:18px;
}
.avtobetononasos__card-price{
  width:130px;
  height:60px;
  color:var(--black);
  outline: none;
  margin-left:auto;
  font-size:22px;
  font-weight: 700;
  display:flex;
  justify-content:center;
  align-items:center;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, outline 0.3s ease-in-out;
  border: none;
}

.avtobetononasos__card button {
  outline: none;
}

  .avtobetononasos__card-price:focus {
    background-color:none;
    text-decoration: none;
    border: none;
    outline: 3px solid var(--black);
    color: var(--red);


  }
  .avtobetononasos__card-price:hover {
    background-color:var(--orange) ;
    border: none;
    outline: 3px solid var(--black);
    text-decoration: none;
    color: var(--black);
  }


