* {
  box-sizing: border-box;
}

.wrapper {
  /* max-width: fit-content; */
  width: 100%;
  margin: 0 auto;
}
.tabs {
  position: relative;
  margin: 0 auto;
  background: none;


}
.tabs::before,
.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
}
.tab-switch {
  display: none;
}
.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: var(--gray);
  border-right: 0.125rem solid var(--gray);
  border-radius: 10px 10px 0 0;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  top: 0;
  transition: all 0.25s;
}
.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
  color: var(--black);
}
.tab-content {
  height: max-content;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 1.618rem;
  background: #eee9e9;
  color: #2c3e50;
  border-radius: 0 0 10px 10px;
  opacity: 0;
  transition: all 0.35s;
}
.tab-switch:checked + .tab-label {
  background: #eee9e9;
  color: #2c3e50;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
  height: auto;
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}

.beton {
  height: 700px;
}

.beton__title {
  padding: 5px 15px;
  width: fit-content;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  font-size: 48px;
  font-weight: 800;
  background-color: var(--gray);
  border-radius: 30px;
  border: 5px solid #fff;
  color: #fff;
}

.tovarnybeton__list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

}

.tovarnybeton__list__item {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 10px;
}

.tovarnybeton__list__item__title {
  font-size: 26px;
  font-weight: bold;
}



.tovarnybeton__list__item__name {
  font-size: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  padding: 3px;
  cursor: pointer;
}

.tovarnybeton__list__item__name:hover  {
  background-color: var(--blue);
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  transform: scale(1.1);
}

.name-mark {
  transition: color 0.3s ease-in-out;
}
.tovarnybeton__list__item__name:hover .name-mark {
  color: red;
}

.tovarnybeton__list__item__price {
  font-size: 22px;
  color: red;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  padding: 5px;
}

.tovarnybeton__list__item__name:hover + .tovarnybeton__list__item__price {
  background-color: var(--blue);
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  transform: scale(1.1)
}

.name-mark {
  font-size: 24px;
  font-weight: 700;
}



