/* .header {
  background-image: url(/betonpremium/img/header1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.header__content {
  display: flex;
  justify-content: space-between;
  background-image: url(/betonpremium/img/header1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.header__content__logo {
  padding: 20px 0 20px 0;
}

.header__content__right {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color:rgba(55, 124, 205, 1);
  font-size: 48px;
}

.header__content__right__tel {
 display: flex;
 flex-direction: row;
}

#Capa_1 {
  width: 50px;
  height: 50px;
  fill: #377CCD;
}

#blink {
  -webkit-animation: blink 0.3s linear infinite;
  animation: blink 0.3s linear infinite;
}
@-webkit-keyframes blink {
  50% { color: rgb(34, 34, 34); }
  51% { color: rgba(34, 34, 34, 0); }
  100% { color: rgba(34, 34, 34, 0); }
}
@keyframes blink {
  50% { color: rgb(34, 34, 34); }
  51% { color: rgba(34, 34, 34, 0); }
  100% { color: rgba(34, 34, 34, 0); }
}

@-webkit-keyframes pulsate {
  50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
 }
 @keyframes pulsate {
  50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
 }
 #blink7 {
   color: var(--blue)
   text-shadow: 0 -1px rgba(0,0,0,.1);
   -webkit-animation: pulsate 1.2s linear infinite;
   animation: pulsate 1.2s linear infinite;
 }
