.head__title {
  font-weight: 400;
  font-size: 70px;
  max-width: 60%;
  margin-bottom: 30px;
}

.head__title__color {
  font-weight: 900;
  color: rgb(253, 110, 74);
}

.head {
  height: 500px;
  background: url(img/head1.png);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: right;
  background-size: 50%;
}

.head__list {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.head__list__item {
  position: relative;
  padding-left: 50px;
}

.head__list__item::before {
  content: url(img/headcheck.svg);
  position: absolute;
  top: -5px;
  left: 0;
  width: 35px;
  height: 35px;

}

.head__tel {
  font-size: 26px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-top: 30px;
}

.head__tel__link {
  font-weight: 800;
  color: rgb(253, 110, 74);
  transition: all 0.3s ease-in-out;
}

.head__tel__link:hover {
  text-decoration: none;
  color: black;
  transform: scale(1.1);
}
