.header {
  background-color: rgba(0,0,0,.3);
  position: sticky;
  top: 0;
  z-index: 10;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__svg {
  width: 200px;
  height: 80px;
}

.header__content__right {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  gap: 15px;
  color: white;
  font-size: 22px;
}

.header__content__right__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__content__right__work {
  display: flex;
  align-items: center;
  max-height: 100px;
}


.nav__link {
  font-size: 18px;
  padding: 10px;
  color: #fff !important;
  text-transform: uppercase;
}

.nav__link:hover {
  color:rgba(248, 167, 146, 1) !important ;
}

.btn {
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(248, 167, 146, 0.4);
  }

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(248, 167, 146, 0.4),
    transparent
  );
  transition: all 650ms;
}

.btn:hover:before {
  left: 100%;
}

.header__content__right__tel {
  box-sizing: content-box;
  background-color:rgba(248, 167, 146, 1);
  align-self: flex-end;
  padding: 3px 10px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}

.header__content__right__tel:hover {
  text-decoration: none;
  color: black;
  transform: scale(1.1);
}
