/* .header {
  background-image: url(/betonpremium/img/header1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.header__content {
  display: flex;
  justify-content: space-between;
  background-image: url(/img/header1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.header__content__logo {
  padding: 20px 0 20px 0;
}

.header__content__right {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color:rgba(55, 124, 205, 1);
  font-size: 48px;
}

.header__content__right__tel {
 display: flex;
 flex-direction: row;
}

#Capa_1 {
  width: 50px;
  height: 50px;
  fill: #377CCD;
}
