.nav {
  color: var(--black);
  font-size: 24px;
}


.nav__content__list {
  display: flex;
  flex-direction: row;
  padding: 20px 0 20px 0px;
  outline: none;

}

.nav__content__item__link {
padding: 10px 20px;
font-weight: 700;
outline: none;
border: none;
transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.nav__content__item__link:focus {
  background-color:none;
  text-decoration: none;
  border: none;
  outline: 3px solid var(--grey);
  color: var(--grey);
}
.nav__content__item__link:hover {
  background-color:var(--grey) ;
  border: none;
  outline: 3px solid var(--grey);
  text-decoration: none;
  color: var(--white);
}

